*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #112B3C;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    position: absolute;
    background-color: #205375 ;
    width: 600px;
    height: 300px;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content:space-around;
    margin: 200px 400px;
}
.container h2{
    position: absolute;
    top: 80px;
    color: #EFEFEF;
}
.text-container{
    width: 400px;
    height: 30px;
    margin-right: 0px;
}
.list-container{
    width: 600px;
    background-color: #205375;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    top: 400px;
    left: 400px;
    padding: 20px;
}
.list-contain{
    color: #EFEFEF;
}
.footer{
    color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 550px;
}